*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    
}


html{
    font-family: system-ui;
    color: white;
    font-size: clamp(14px,1vw,18px);
}
body{
    background-color: black;
}

@mixin flex-column($gap: 0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}


section{
    max-width: 2000px;
}


main{
    width: 100%;
    @include flex-column(0rem);
    align-items: center;


    section.view1{
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;


        .top{
            width: 100%;



            img{
                width: 100%;
                border-radius: 0.78rem;
            }
        }


        .bottom{
            background-color: #292929;
            padding: 1.5rem;
            border-radius: 0.78rem;
            @include flex-column(1.5rem);



            .text{
                @include flex-column(0.7rem);



                h1{
                    font-size: 2.5rem;
                    font-weight: 200;
                    text-transform: uppercase;
                }

                p{
                    font-size: 1.4rem;
                    font-weight: 200;
                    opacity: 0.6;
                    line-height: 2.5rem;
                }


                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }
        }
    }
    section.view2{
        @include flex-column(1rem);
        width: 100%;
        padding: 1rem;


        .top, .bottom{
            display: flex;
            width: 90%;
            justify-content: space-around;


            .element{
                text-align: center;
                @include flex-column(0.2rem);

                small{
                    opacity: 0.2rem;
                }
                h2{
                    font-size: 3rem;
                    font-weight: 300;
                }
            }
        }
    }

    section.view3{
        width: 100%;
        padding: 1rem;
        @include flex-column(1rem);


        .top{
            width: 100%;
            img{
                width: 100%;
                border-radius: 0.7rem;
            }
        }
        .bottom{
            background-color: #292929;
            padding: 1.5rem;
            border-radius: 0.78rem;
            @include flex-column(1.5rem);



            .text{
                @include flex-column(0.7rem);



                h1{
                    font-size: 2.5rem;
                    font-weight: 200;
                    text-transform: uppercase;
                }
                
                p{
                    font-size: 1.4rem;
                    font-weight: 300;
                    opacity: 0.6;
                    line-height: 2.5rem;
                }


                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.7rem;
                }
            }
        }
    }
}


@media (min-width:700px){
    main{
        section.view1{
            flex-direction: row;
            padding: 1rem 4rem;

            .top img{
                height: 100%;
            }

            .top, .bottom{
                width: 50%;
                
            }

            .bottom{
                justify-content: space-between;
                padding: 3rem;


                .text{
                    h1{
                        font-size: 3.5rem;
                    }

                    p{
                        width: 90%;
                        font-size: 1rem;
                        line-height: 2rem;
                    }
                }
            }
        }

        section.view2{
            flex-direction: row;

        }

        section.view3{
            flex-direction: row-reverse;
            
            .top img{
                height: 100%;
            }
            .top, .bottom{
                width: 50%;
            }

            .bottom{
                justify-content: space-between;
                padding: 3rem;


                .paragraphs{
                    display: flex;
                    gap: 1rem;

                    p{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}